@import url(media.css);
*{
  margin: 0;
  padding: 0;
  border:0 none;
  font-size: 0.1rem;
  font-family: "Microsoft YaHei";
  vertical-align: middle;
}
html,
body{
  height:100%;
  width: 100%;
}
/*music转盘*/
#music{
  width: 0.96rem;
  height:0.96rem;
  border:0.04rem solid #ef1639;
  border-radius: 50%;
  position: fixed;
  top:0.5rem;
  right: 0.5rem;
  text-align: center;
  line-height:0.88rem;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.circle{
  vertical-align: middle;
  width:0.75rem;
  height:0.75rem;
}
.other{
  position: absolute;
  top:0.18rem;
  right:0;
  width:0.27rem;
  height: 0.43rem;
}
#music img.play{
  -webkit-animation: rotate 4s linear infinite;
  animation:  rotate 4s linear infinite;
}
@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
/*每一屏公共样式*/
.page{
  height:100%;
  width: 100%;
  position: absolute;
}
.page .bg{
  height:100%;
  width:100%;
  position: absolute;
  z-index:-1;
  top:0;
}
/*第一屏*/
#page1{
  display: none;
}
#page1 .bg{
  background: url("../img/p1_bg.jpg") center center no-repeat;
  background-size: 100%;
}
#page1 .p1_deng{
  width: 2.9rem;
  height:5.6rem;
  position: absolute;
  right:0;
  left:0;
  margin:auto;
  background:url("../img/p1_lantern.png") center bottom no-repeat;
  background-size:contain;
  box-sizing: border-box;
  padding-top: 2.4rem;
  text-align: center;
  font-size: 0.24rem;
  color: #fff;
}
#page1 .p1_deng:before{
  width:1.5rem;
  height: 1.5rem;
  position: absolute;
  right:0;
  left:0;
  margin:auto;
  top: -.3rem;
  bottom:0;
  content: '';
  background-color: #d9234e;
  box-shadow: 0 0 0.6rem 0.6rem #d9234e;
  border-radius: 50%;
  animation:scale .5s linear infinite alternate;
  z-index: -1;
}

@keyframes scale {
  0%{
    transform: scale(0.8);
    opacity: .5;
  }
  100%{
    opacity:1;
  }
}
#page1 .p1_moon{
  position: absolute;
  right:0;
  left:0;
  margin:auto;
  bottom:1rem;
  background: url("../img/p1_imooc.png") no-repeat center center;
  height:2rem;
  width: 3.5rem;
  background-size: contain;
}
.p1_words{
  font-size:.24rem;
  position: absolute;
  bottom: .5rem;
  text-align: center;
  width:100%;
}


/*第二屏*/
#page2{
  display: none;
}
#page2 .bg{
  background: url("../img/p2_bg.jpg") center center no-repeat;
  background-size: 100%;
}
#page2 .p2_circle{
  height:2rem;
  width:2rem;
  background: url(../img/p2_circle_outer.png) no-repeat center center;
  background-size: 100%;
  position: absolute;
  right:0;
  left:0;
  top:0;
  bottom:0;
  margin:auto;
  animation:cicle_rotate 1s  5s linear infinite;
}
.middle{
  height:1.5rem;
  width:1.5rem;
  background: url("../img/p2_circle_middle.png") center center no-repeat;
  background-size: 100%;
  position: absolute;
  top:0;
  left:0;
  margin:auto;
  right:0;
  bottom:0;
  animation:cicle_rotate_reverse 1s 3s linear infinite;
}
.inner{
  height:1rem;
  width:1rem;
  background: url("../img/p2_circle_inner.png") center center no-repeat;
  background-size: 100%;
  position: absolute;
  top:0;
  left:0;
  margin:auto;
  right:0;
  bottom:0;
  animation:cicle_rotate 1s 1s linear infinite;
}
.p2_2016{
  height: 0.8rem;
  width:0.7rem;
  background: url("../img/p2_2016.png") center center no-repeat;
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  background-size: 100%;

}
@keyframes cicle_rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes cicle_rotate_reverse {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-720deg);
  }
}
/*第三屏*/
#page3{
  display: block;
}
#page3 .bg{
  background: url("../img/p3_bg.jpg") center center no-repeat;
  background-size: 100%;
}
#page3 .p3_logo{
  width:2.2rem;
  height:0.72rem;
  background: url("../img/p3_logo.png") center center no-repeat;
  background-size: 100%;
  margin:1rem auto 0;
}
.p3_left{
   position: absolute;
   right:0.3rem;
   top:2.5rem;
   width:1.64rem;
   height:4.74rem;
   background: url("../img/p3_couplet_first.png") no-repeat;
   background-size: 100%;
   animation: p3_rotate 1s linear infinite alternate;
 }
.p3_right{
  position: absolute;
  left:0.3rem;
  top:2.5rem;
  width:1.64rem;
  height:4.74rem;
  background: url("../img/p3_couplet_second.png") no-repeat;
  background-size: 100%;
  animation: p3_rotate 1s linear infinite alternate;

}
.p3_title{
  position: absolute;
  height:5.4rem;
  width:3rem;
  left:0;
  right:0;
  margin:0.1rem auto 0 ;
  background: url("../img/p3_title.png") no-repeat;
  background-size: 100%;
}
.p3_blessing{
  height:2.05rem;
  width: 2.05rem;
  background: url("../img/p3_blessing.png") no-repeat;
  left:0;
  right:0;
  margin:auto;
  bottom:.5rem;
  position: absolute;
  background-size: 100%;
  animation:cicle_rotate 2s infinite linear ;
}
@keyframes p3_rotate {
  0%{
    transform: scale(0.9);
  }
  100%{
    transform: scale(1);
  }
}